.chart {
    float:left;
    width: 90%;
    height: 400px;
    margin: 10px 0 40px 2%;
}
.ac-tooltip {
    color: black;
    border: 2px solid rgba(200,200,0,0.8);
    background-color: rgba(200,200,0,0.5);
}
.chart .ac-title {
    text-align: center;
}
.chartContainer:before, .chartContainer:after{
    display:table;
    clear: both;
    content: " ";
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}