<div class="row-fluid row-sparse">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="item" class="col-sm-1 control-label">Item</label>

            <div class="col-sm-5">
                <select data-ng-model="itemId" class="form-control" id="item">
                    <option data-ng-repeat="item in items" value="{{item.id}}" data-ng-selected="{{itemId == item.id}}">
                        {{item.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Prices</h2>
<div data-ng-include="'assets/templates/chart.html'" data-ng-controller="chartController"></div>