<div class="modal-header">
<h3 class="modal-title">Prices</h3>
</div>
<div class="modal-body">
    <div data-ng-include="'assets/templates/chart.html'" data-ng-controller="chartController"></div>
</div>
<div class="modal-footer">
     <button class="btn btn-default" data-ng-click="$close()">Close</button>
</div>