<div class="modal-header modalContainer">
    <h5 class="pull-left">{{name}}</h5>
    <button class="pull-right btn btn-xs btn-default" data-ng-click="$close()">x</button>
</div>
<div class="modal-body modalContainer">
    <img class="imageBody"
         data-ng-src="{{src}}"
         src=""/>
</div>