<div class="row-fluid row-sparse">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="skuFilter" class="col-sm-1 control-label">Sku</label>

            <div class="col-sm-5">
                <input data-ng-model="$parent.skuFilter" class="form-control" id="skuFilter"/>
            </div>
        </div>

        <div class="form-group">
            <label for="nameFilter" class="col-sm-1 control-label">Name</label>

            <div class="col-sm-5">
                <input data-ng-model="$parent.nameFilter" class="form-control" id="nameFilter"/>
            </div>
        </div>
    </div>
</div>