<div data-ng-include="'assets/templates/itemsFilter.html'"></div>

<div class="row-fluid row-sparse">
    <div data-ng-include="'assets/templates/pagination.html'"></div>
    <table class="table table-striped table-responsive table-sortable">
        <thead>
        <tr>
            <th class="cursor-default">Item</th>
            <th data-ng-repeat="type in [{val: 'name',name:'Name'},
                                        {val: 'sku', name:'Sku'},
                                        {val: 'date', name:'Date'},
                                        {val: 'price', name:'Price'}]" data-ng-click="sortData(type.val)">
                {{type.name}}
                <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in items">
            <td class="col-sm-2">
                <div hidden>{{item.id}}</div>
                <img class="img-responsive img-thumbnail" width="200" data-ng-src="{{item.imageUrl}}" src=""
                     data-ng-controller="imageController" data-ng-click="open(item)"/>
            </td>
            <td class="col-sm-6">
                <div class="editable" data-ng-model="item.name" data-ng-change="update(item)" contenteditable="true">
                    {{item.name}}
                </div>
            </td>
            <td class="">{{ item.sku }}</td>
            <td class="">{{ item.dateCreated | dateSimple }}</td>
            <td class="">{{ item.price | currency:item.currency+' '}}</td>
        </tr>
        </tbody>
    </table>
    <div data-ng-include="'assets/templates/pagination.html'"></div>
</div>