<div class="alert alert-danger" data-ng-show="error">
    There was a problem logging in. Please try again.
</div>
<div class="alert alert-info" data-ng-show="hasMessage">
    {{message}}
</div>
<form role="form" data-ng-submit="login()">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" data-ng-model="credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" data-ng-model="credentials.password"/>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>