<div class="text-center" data-ng-show="$parent.totalRecordsCount > 0">
    <div class="pagination pagination-sm"
         data-pagination=""
         data-previous-text="<"
         data-next-text=">"
         data-first-text="<<"
         data-last-text=">>"
         data-ng-model="$parent.currentPage"
         data-ng-change="$parent.pageChanged()"
         data-total-items="$parent.totalRecordsCount"
         data-boundary-links="true"
         data-max-size="$parent.maxSize"
         data-rotate="false"
         data-items-per-page="$parent.pageSize">
    </div>
</div>