<div data-ng-include="'assets/templates/itemsFilter.html'"></div>

<div class="row-fluid row-sparse">
    <table class="table table-striped table-responsive table-sortable">
        <thead>
        <tr>
            <th class="cursor-default">Item</th>
            <th data-ng-repeat="type in [{val: 'name',name:'Name'},
                                        {val: 'sku', name:'Sku'},
                                        {val: 'date', name:'Date'},
                                        {val: 'firstPrice', name:'First price'},
                                        {val: 'lastPrice', name:'Last price'},
                                        {val: 'change', name: 'Change'}]" data-ng-click="sortData(type.val)">
                {{type.name}}
                <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in items | filter: {name:nameFilter, sku: skuFilter}">
            <td class="col-sm-2">
                <img class="img-responsive img-thumbnail" width="200" data-ng-src="{{item.imageUrl}}" src=""
                     data-ng-controller="imageController" data-ng-click="open(item)"/>
            </td>
            <td class="col-sm-2">
                {{ item.name }}
            </td>
            <td class="">{{ item.sku }}</td>
            <td class="">{{ item.date | dateSimple }}</td>
            <td class="">{{ item.firstPrice | currency:item.currency+' ' }}</td>
            <td class="">{{ item.lastPrice | currency:item.currency+' '}}</td>
            <td class="">
                <span class="glyphicon glyphicon-arrow-up color-green" data-ng-show="item.change > 0"></span>
                <span class="glyphicon glyphicon-arrow-down color-red" data-ng-show="item.change < 0"></span>
                {{ item.change | percents }}
            </td>
            <td>
                <div class="btn btn-sm" data-ng-click="open(item.id)" title="chart">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>