<div class="alert alert-danger" data-ng-show="hasError">
    {{error}}
</div>
<div class="alert alert-info" data-ng-show="hasMessage">
    {{message}}
</div>

<div class="row-fluid row-sparse">
    <button data-ng-show="!crawlerIsStarted" type="button" class="btn btn-primary active has-spinner" data-ng-click="start()">Run crawler</button>
    <img src="assets/spinner.gif" data-ng-show="crawlerIsStarted"/>
</div>

<div class="row-fluid row-sparse">
    <table class="table table-condensed" >
        <thead>
        <tr>
            <th></th>
            <th>Run Id</th>
            <th>Date Created</th>
            <th>Items Created</th>
            <th>Items Updated</th>
            <th>Items Risen in Price</th>
            <th>Items Fallen in Price</th>
            <th>Page Scanned</th>
            <th>Links Visited</th>
            <th>Bytes Read, MB</th>
            <th>Total Items</th>
        </tr>
        </thead>

        <tbody data-ng-repeat="run in runs" data-ng-switch data-on="rowsExpanded[$index]">
        <tr class="clickableRow" title="Click to collapse/expand run summary"
            data-ng-click="selectTableRow($index, run.id)" >
            <td>
                <div data-ng-show="run.children.length > 0">
                    <span class="pull-left glyphicon glyphicon-triangle-bottom" data-ng-switch-when="true"></span>
                    <span class="pull-left glyphicon glyphicon-triangle-right" data-ng-switch-default></span>
                </div>
            </td>
            <td>{{run.id}}</td>
            <td>{{run.dateCreated|dateSimple}}</td>
            <td>{{run.itemsCreated}}</td>
            <td>{{run.itemsUpdated}}</td>
            <td>{{run.itemsIncreased}}</td>
            <td>{{run.itemsDecreased}}</td>
            <td>{{run.pageScanned}}</td>
            <td>{{run.linksVisited}}</td>
            <td>{{(run.bytesRead / (1024*1024)) | number: 2}}</td>
            <td>{{run.itemsInDb}}</td>
        </tr>

        <tr data-ng-switch-when="true" data-ng-repeat="subRun in run.children" class="subRow">
            <td class="text-center" colspan="2">{{subRun.id}}</td>
            <td>{{subRun.dateCreated|dateSimple}}</td>
            <td>{{subRun.itemsCreated}}</td>
            <td>{{subRun.itemsUpdated}}</td>
            <td>{{subRun.itemsIncreased}}</td>
            <td>{{subRun.itemsDecreased}}</td>
            <td>{{subRun.pageScanned}}</td>
            <td>{{subRun.linksVisited}}</td>
            <td>{{(subRun.bytesRead / (1024*1024)) | number: 2}}</td>
        </tr>

        </tbody>
        </table>

        <div data-ng-include="'assets/templates/pagination.html'"></div>
    </div>
