<div class="alert alert-danger" data-ng-show="error">
    There was a problem with signing in. Please try again.
</div>
<h3>Please sign up</h3>
<form role="form" data-ng-submit="signup()">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control"
               id="username" name="username" data-ng-model="signup.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control"
               id="password" name="password" data-ng-model="signup.password"/>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>