<div class="row-fluid row-sparse">
    <button ng-show="!rulesIsRunning" type="button" class="btn btn-primary active has-spinner" ng-click="applyRules()">Apply rules</button>
    <img src="assets/spinner.gif" ng-show="rulesIsRunning"/>
</div>
<div class="row-fluid row-sparse">
    <div class="col-sm-4">
        <div class="row-fluid">
            <div class="form-group">
                <label for="sourceInput" class="col-sm-4 control-label">Source Term</label>
                <input ng-model="sourceTerm" class="form-control" id="sourceInput"/>
                <label for="targetInput" class="col-sm-4 control-label">Target Term</label>
                <input ng-model="targetTerm" class="form-control" id="targetInput"/>
                <label for="termType" class="col-sm-4 control-label">Term Type</label>
                <select ng-model="selectedType" ng-options="type.name for type in types track by type.name" id="termType" ng-init="selectedType = types[0]">
                </select>
            </div>
            <button class="pull-right btn btn-xs btn-default" data-ng-click="addRow()">+</button>
        </div>
        <div class="row-fluid">
            <table class="table table-striped table-responsive table-sortable">
                <thead>
                <tr>
                    <th data-ng-repeat="type in [{val: 'sourceTerm', name:'Source Term'},
                                                {val: 'targetTerm', name:'Target Term'},
                                                {val: 'termType', name:'Type'}]" data-ng-click="sortData(type.val)">
                        {{type.name}}
                        <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in items">
                    <td class="col-sm-1">
                        <div hidden>{{item.id}}</div>
                        <div class="editable" data-ng-model="item.sourceTerm" data-ng-change="update(item)" contenteditable="true">
                            {{item.sourceTerm}}
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editable" data-ng-model="item.targetTerm" data-ng-change="update(item)" contenteditable="true">
                            {{ item.targetTerm }}
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="">
                            {{ item.termType }}
                        </div>
                    </td>
                    <td class="col-sm-1"><button class="btn btn-xs btn-default" ng-click="delete(item)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
        <table class="table table-striped table-responsive table-sortable">
            <thead>
            <tr>
                <th data-ng-repeat="type in [{val: 'color', name:'Color'}]" data-ng-click="sortData(type.val)">
                    {{type.name}}
                    <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="colorItem in stats.color">
                <td class="col-sm-1">
                    <div ng-click="loadDetailsForStat(colorItem[0], 'color')">
                        {{colorItem[0]}}<span class="badge">{{colorItem[1]}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-1">
        <table class="table table-striped table-responsive table-sortable">
            <thead>
            <tr>
                <th data-ng-repeat="type in [{val: 'material', name:'Material'}]" data-ng-click="sortData(type.val)">
                    {{type.name}}
                    <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="materialItem in stats.material">
                <td class="col-sm-1">
                    <div ng-click="loadDetailsForStat(materialItem[0], 'material')">
                        {{materialItem[0]}}<span class="badge">{{materialItem[1]}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
        <table class="table table-striped table-responsive table-sortable">
            <thead>
            <tr>
                <th data-ng-repeat="type in [{val: 'model', name:'Model'}]" data-ng-click="sortData(type.val)">
                    {{type.name}}
                    <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="modelItem in stats.model">
                <td class="col-sm-2">
                    <div ng-click="loadDetailsForStat(modelItem[0], 'model')">
                        {{modelItem[0]}}<span class="badge">{{modelItem[1]}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-striped table-responsive table-sortable">
            <thead>
            <tr>
                <th data-ng-repeat="type in [{val: 'url', name:'Urls of items'}]" data-ng-click="sortData(type.val)">
                    {{type.name}}
                    <span data-ng-include="'assets/templates/sortIndicator.html'"></span>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="url in detailedUrls">
                <td class="col-sm-4">
                    <a href="{{url}}" target="_blank">{{url}}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>